<header>
  <div>
    <img
      src="./assets/images/via-varejo-logo.svg"
      alt="Logo"
    />
    <div class="image">
      <h1>
        Admin de mensagens de erro
      </h1>
    </div>
  </div>
</header>
<form>
  <div class="alinhamento">
    <p>
      <label for="transacao">Programa</label>
      <select id="transacao">
        <option value="VNM0329">VNM0329</option>
        <option value="VNM0525">VNM0329</option>
        <option value="VNM0125">VNM0329</option>
        <option value="S842545">VNM0329</option>
        <option value="VNM0123">VNM0329</option>
      </select>
    </p>
    <p>
      <label for="tipo-erro">Tipo de erro</label>
      <select id="tipo-erro">
        <option value="AMBIENTE">AMBIENTE</option>
        <option value="NEGOCIO">NEGOCIO</option>
      </select>
    </p>
    <p>
      <label for="grupo-funcional">Grupo funcional</label>
      <select id="grupo-funcional">
        <option value="CICS">CICS</option>
        <option value="DB2">DB2</option>
        <option value="CRT">CRT</option>
        <option value="FRT">FRT</option>
        <option value="DAT">DAT</option>
      </select>
    </p>
    <p>
      <label for="mensagem">Código da mensagem</label>
      <input
        type="text"
        id="mensagem"
        name="mensagem"
      />
    </p>
  </div>
  <div class="cadastrar-mensagem">
    <p>
      <label for="cadastrar-mensagem">Mensagem de erro</label>
      <input
        type="text"
        id="cadastrar-mensagem"
        name="cadastrar-mensagem"
      />
    </p>
  </div>
  <div class="alinhar-botao">
    <p>
      <button
        class="button"
        type="submit"
        id="consultar"
      >
        Consultar
      </button>
    </p>
    <p>
      <button
        class="button"
        type="submit"
        id="cadastrar"
      >
        Cadastrar
      </button>
    </p>
  </div>
  <div class="retorno-section">
    <h2>Retorno da consulta</h2>
    <div class="retorno">
      <!-- style="width:500px; height: 400px; "> -->
      <ul>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_FUN INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_BND INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_AMANC INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_CMC INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
        <li>VNN0239 - ACRM00231 - CAMPO CD_EMPGCB INVALIDO</li>
      </ul>
    </div>
  </div>
</form>
<footer class="footer"></footer>
